@import url("node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("node_modules/uswds/dist/css/uswds.min.css");

html, body {
  height: 100%;
}

h1.usa-heading{
  display: inline;
}

#main-content{
  height: calc(100% - 363px);
}

.page{
  display: none;
  padding-top: 2rem;
}

#page-data{
  display: block;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
  padding: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #0071bc;
}
.inputfile:focus + label{
  cursor: pointer; /* "hand" cursor */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#response-loading, #response-error{
  display: none;
}

#data-report-wrapper, #data-manifest-wrapper{
  display: none;
  background: lightgray;
  padding: 10px;
  font-size: small;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.usa-footer-secondary_section{
  padding: 0 !important;
}
